/* COMMON STYLES */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  pad: 24px 0 24px;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;

  min-width: 169px;
  height: 56px;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* HEADER STYLES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.menu {
  gap: 40px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.link-display {
  gap: 40px;
}

.menu-header {
  display: flex;
  gap: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.logo-margin {
  margin-right: 76px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.color-text {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.border {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.menu-link {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
}

.menu-link:focus,
.menu-link:hover {
  color: #404bbf;
}

.contact-link {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-style: normal;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.contact-li {
  margin-right: 40px;
}

.contact-li-second {
  margin-right: 0;
}

.contact {
  display: flex;
  align-items: center;
  column-gap: 49px;
}

.contact-link:focus,
.contact-link:hover {
  color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.head-name {
  color: var(--WHITE, #ffffff);
  text-align: center;
  /* Header 1 */
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.button-text {
  color: var(--WHITE, #ffffff);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
}

/* SECTION 1!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-benefits-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

.section-benefits-p {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* SECTION 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.section-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  gap: 24px;
}

.display-benefits {
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
}

.li-section {
  margin-right: 24px;
}

.li-section-second {
  margin-right: 0;
}

.menu-team {
  background-color: #ffffff;
}

.menu-item {
  background-color: #ffffff;
  gap: 40px;
}

.section-our-team {
  background-color: #f4f4fd;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  font-weight: 500;
}

.img-our-team {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.our-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.our-team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.width-li {
  width: calc((100% - 3 * 24px) / 4);
}

/* SECTION 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.section-potfolio-background {
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
}

.padding_div {
  padding: 32px 0 32px;
}

.our-porfolio-card {
  background: var(--WHITE, #fff);
  row-gap: 48px;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
}

.our-porfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-porfolio-p {
  color: var(--SLATE, #434455);
  text-align: center;
  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.ul-display {
  gap: 24px;
  display: flex;
}

.li-section-third {
  border-radius: 0px 0px 4px 4px;
  margin-right: 24px;
}

.li-section-last {
  border-radius: 0px 0px 4px 4px;
  margin-right: 0;
}

.style-team {
  text-align: center;
  margin-bottom: 8px;
}

.wrap {
  flex-wrap: wrap;
}

.li-section-fourth {
  row-gap: 48px;

  width: calc((100% - 72px) / 4);
}

.li-calc {
  width: calc((100% - 48px) / 3);
}

.div_portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

/* FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11!!!!!!*/

.footer-background {
  background-color: #2e2f42;
}

.display-portfolio {
  row-gap: 48px;
}

.logo-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.color-text-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
